div.slide

	//--------------
	//- row 1
	//--------------

	//- row col width height classes

	//- row 1 and 2
	+tile(1,1,2,2,'color-1')
	+vHalf(1,3,1,1,'color-2','color-3')
	+tile(1,4,1,2,'color-3')
	+tile(1,5,1,2,'color-2')
	+tile(1,6,2,2,'color-2 bg-1')
	+tile(1,8,1,2,'color-2')
	//- 

	//- row 3 and 4
	+tile(3,1,2,2,'color-2')
	+tile(3,3,2,2,'color-1 bg-2')
	+vHalf(3,5,1,1,'color-1','color-2')
	+tile(3,6,1,2,'color-3')
	+tile(3,7,2,2,'color-2 bg-1')
	//- 

	//- row 5 and 6
	+tile(5,1,1,2,'color-1')
	+tile(5,2,1,2,'color-3')
	+tile(5,3,1,1,'color-1')
	+tile(6,3,1,1,'color-2')
	+tile(5,4,2,2,'color-3')
	+tile(5,6,1,1,'color-3 bg-1')
	+tile(6,6,1,1,'color-3 bg-2')
	+tile(5,7,2,2,'color-3 bg-3')
	//- 

	//- row 7 and 8
	+tile(7,1,2,2,'color-2')
	+tile(7,3,2,2,'color-1')
	+tile(7,5,2,2,'color-2')
	+tile(7,7,2,2,'color-1')
	//- 