//- // - var tile = {'div.w-q.h-q.color-1'};
//- // mixin row(numTiles)

//- // 	- for (var i=0; i<numTiles; i++)

//- // 		//- alternate colors
//- // 		- if (i%2==0)
//- // 			div.w-q.h-q.color-1
//- // 		- else
//- // 			div.w-q.h-q.color-2
		
//- // 		//- set positioning
//- // 		//- - if (i==1)



//- // +row(4)

