//- div.slide(id='#first-slide')
//- 	- for(var i=0; i<8; i++)
//- 		- if (i<4)
//- 			- if (i%2==0)
//- 				.t.w-q.h-h.color-1
//- 			- else
//- 				.t.w-q.h-h.color-2
//- 		- else
//- 			- if (i%2==0)
//- 				.t.w-q.h-h.color-2
//- 			- else
//- 				.t.w-q.h-h.color-1
div.slide(id='#first-slide')
	- for(var i=0; i<8; i++)
		.t.w-q.h-h