// colors
.color-1 {
	background-color: #A0797E;
}
.color-2 {
	background-color: #39506F;
}
.color-3 {
	background-color: #5E647D;
}
.color-4 {
	background-color: #705F63;
}
.color-5 {
	background-color: #705F63;
}