// columns and rows (8 per slide)

%tile {
	position: absolute;
}

.col-1 {
	@extend %tile;
	left: -50%;
}

.col-2 {
	@extend %tile;
	left: -25%;	
}

.col-3 {
	@extend %tile;
	left: 0%;
}

.col-4 {
	@extend %tile;
	left: 25%;	
}

.col-5 {
	@extend %tile;
	left: 50%;
}

.col-6 {
	@extend %tile;
	left: 75%;
}

.col-7 {
	@extend %tile;
	left: 100%;
}

.col-8 {
	@extend %tile;
	left: 125%;
}

.row-1 {
	@extend %tile;
	top: -50%;
}

.row-2 {
	@extend %tile;
	top: -25%;	
}

.row-3 {
	@extend %tile;
	top: 0%;
}

.row-4 {
	@extend %tile;
	top: 25%;	
}

.row-5 {
	@extend %tile;
	top: 50%;
}

.row-6 {
	@extend %tile;
	top: 75%;
}

.row-7 {
	@extend %tile;
	top: 100%;
}

.row-8 {
	@extend %tile;
	top: 125%;
}