// positioning (left, top)

// left
.l-0{
	left: 0;
}
.l-25{
	left: 25%;
}
.l-50{
	left: 50%;
}
.l-75{
	left: 75%;
}
.l-100{
	left: 100%;
}
.l-125{
	left: 125%;
}

// negative
.l-n25{
	left: -25%;
}
.l-n50{
	left: -50%;
}
.l-n75{
	left: -75%;
}
.l-n100{
	left: -100%;
}


// top
.t-0{
	top: 0;
}
.t-25{
	top: 25%;
}
.t-50{
	top: 50%;
}
.t-75{
	top: 75%;
}
.t-100{
	top: 100%;
}

// negative
.t-n25{
	top: -25%;
}
.t-n50{
	top: -50%;
}
.t-n75{
	top: -75%;
}
.t-n100{
	top: -100%;
}